
<!-- 
 <div class="text-center">
  <button type="button" class="btn btn-primary">Add New Row</button>
</div><br> -->

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <button type="button" style="float:right ;"  (click)="addNewelement()">Add New Row</button>
      
       <!-- <div class="text-center"> -->
        <!-- <button>Add New Row</button> -->
      <!-- </div><br> -->
      <!-- <th scope="col">Edit</th> -->
      <!-- <th scope="col">Delete</th> -->
    </tr>
  </thead>
  <br>
  <tbody>
    <tr *ngFor="let item of crud">
      <th scope="row">1</th>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td><i class="bi bi-pencil" (click)="edit(item)"></i></td>
      <td><i class="bi bi-trash" (click)="delete(item._id)"></i></td>
    </tr>
    
  </tbody>
</table>



<div class="container" *ngIf="checkAdd">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input [(ngModel)]="fname" [ngModelOptions]="{standalone: true}" type="name" class="form-control" aria-describedby="emailHelp" placeholder="First Name" >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input [(ngModel)]="lname" [ngModelOptions]="{standalone: true}" type="name" class="form-control"  placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email"  class="form-control"  placeholder="Email">
    </div><br>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="add()">Submit</button>

    </div>
  </form>
</div>



<div class="container" *ngIf="checkEdit">
  <form>
  
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input [(ngModel)]="id.firstName" [ngModelOptions]="{standalone: true}" type="name" class="form-control" aria-describedby="emailHelp" placeholder={{id.firstName}} >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input [(ngModel)]="id.lastName"  [ngModelOptions]="{standalone: true}" type="name" class="form-control"  placeholder={{id.lastName}}>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input  [(ngModel)]="id.email" [ngModelOptions]="{standalone: true}" type="email"  class="form-control"  placeholder={{id.email}}>
    </div><br>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="update()">Submit</button>

    </div>
  </form>
</div>



